<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="mb-5">
  <h1>
    Welcome to my {{ title }}!
  </h1>
</div>
<div class="container">
  <div *appDisplayMovie="showMovies">
    <div class="row">
      <div *ngFor="let m of movieList; let i = index" class="col-4"  style="text-align:center">
        <div *ngIf="i === 0; else otherElement" appMovieHover>
        <h4 class="mb-3">{{ m.name }}</h4><img src="{{ m.uri }}" class="mb-3">
        </div>
        <ng-template #otherElement>
            <h4 class="mb-3">{{ m.name }}</h4><img src="{{ m.uri }}" class="mb-3">
        </ng-template>
      </div>
    </div>
  </div>
</div>
